<footer class="page-footer fixed-bottom unique-color-dark">
    <div class="footer-copyright">
        <div class="container-fluid">
            © {{getCurrentYear}} Copyleft:
            <a href="#"> Feed Reader 1.0</a>

        </div>
    </div>
</footer>