<footer class="page-footer fixed-bottom unique-color-dark">
    <div class="footer-copyright">
            © {{getCurrentYear}} Copyleft:
            <a href="#"> Feed Reader 1.0</a>
    </div>
</footer>