<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{pageTitle}}</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Finger+Paint|Quando" rel="stylesheet">
    {{!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css"> --}}
        
    <!-- Bootstrap core CSS -->
    {{!-- <link href="css/bootstrap.min.css" rel="stylesheet"> --}}
    <!-- Material Design Bootstrap -->
    {{!-- <link href="css/mdb.min.css" type="text/css" rel="stylesheet"> --}}
    {{!-- <link href="css/mdb.css" type="text/css" rel="stylesheet"> --}}
    <!-- My custom styles -->
    <link href="css/style.css" rel="stylesheet">

    <!-- Pie Chart Resources -->
   <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />


</head>