<header>

    <!-- Navbar -->
    <nav class="header__inner">

        <!-- Logo -->
        <img class="header__logo" src="images/city.png" alt="Iconic view of a city's skyline">

        <!-- Title -->
        <h1 class="header__title">
            <a href="/" >
                {{pageTitle}}
            </a>
        </h1>

        <!-- Menu icon (burger) --> 
        <a id="menu" class="header__menu">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M2 6h20v3H2zm0 5h20v3H2zm0 5h20v3H2z"/>
          </svg>
        </a>
    </nav>
    <!-- navbar -->
    
</header>
