<!--Section: Display Feed List-->

    <section class="container text-center">

    <div id="welcome" class="card m-5 p-5">

        <!-- Heading -->
        <h3 class="card-title m-5 font-weight-bold text-center">Welcome, what would you like to read today?</h3>

         <div class="mask"></div>

        <div class="card-body text-center">

            <ul class="nav md-pills nav-justified">

                <li class="nav-item">
                    <button type="button" class="btn fetch-btn" id="BBCSport">BBC Sport</button>
                </li>

                <li class="nav-item">
                    <button type="button" class="btn fetch-btn" id="TechCrunch">Tech Crunch</button>
                </li>

                <li class="nav-item">
                    <button type="button" class="btn fetch-btn" id="Guardian">The Guardian</button>
                </li>
            </ul>
       </div>


    </div>

    </section>
