<div id="welcome">

    <form action="/" id="feeds" method="post">
        
        <fieldset class="py-2">
            
            <legend>What would you like to read today?</legend>
       {{!-- <p class="h4 text-center mb-4">What do you want to read today?</p> --}}

        <div class="form-group">
            <label class="mb-1" for="feedName">Popular Feeds</label>
            <select single name="feedName" id="feedName">
                <option selected value="">Select a feed...</option>
                <option value="BBCSport">BBC Sport</option>
                <option value="TechCrunch">Tech Crunch</option>
                <option value="Guardian">The Guardian</option>
                <option value="SimplyRecipes">Simply Recipes</option>
                <option value="Mashable">Mashable</option>
            </select>
        </div>

        <p><strong>OR</strong></p>

        <div class="form-group">
            <label class="mb-1" for="custom_url">Enter your own..</label>
            <input type="url" name="custom_url" id="custom_url" placeholder="Provide a valid feed URL">
        </div>

        {{!--
        <input type="submit" id="submitButton" value="Submit"> --}}
        <button id="submitButton" type="submit">SUBMIT</button>

        </fieldset>
 

    </form>
</div>