<!DOCTYPE html>
<html lang="en">

{{> head}}

<body data-title="article">
    {{> header}}

    <!-- Tab panels -->
    <div class="container m-5">

        <!--Article stats-->
        <div id="chartdiv">

        </div>

        <!--Article-->
        <div id="article" class="m-5 container">

        </div>


    </div>

    {{> footer}}

    <script type="text/javascript" src="javascripts/main.js"></script>
</body>

</html>