<!DOCTYPE html>
<html lang="en">

{{> head}}

<body data-title="home">
    {{> header}}

    {{> welcome}}

 
        <!--Panel 1-->
        <br>

        <div id="results" class="container">

        </div>
        <!--/.Panel 1-->


 
    {{> footer}}   
    
     <script type="text/javascript" src="javascripts/main.js"></script>
</body>

</html>