<!DOCTYPE html>
<html lang="en">

{{> head}}

<body data-title="home">

    <main>

        {{> header}} 
        {{> navigation}}
        {{> welcome}}
        <!--Errors panel -->
        <br>
        <div id="errors">

        </div>

        <br>
        <!-- Results panel-->
        <div id="results" class="container">

        </div>

        {{> footer}}

    </main>
    <!-- /main Wrapper -->

    <script>
        /*
         * Open the drawer when the menu icon is clicked.
         */
        var menu = document.querySelector('#menu');
        var main = document.querySelector('main');
        var drawer = document.querySelector('.nav');

        menu.addEventListener('click', function (e) {
            drawer.classList.toggle('open');
            e.stopPropagation();
        });
        main.addEventListener('click', function () {
            drawer.classList.remove('open');
        });

    </script> {{!-- JQuery --}}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script> {{!-- Popper --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>


    <!-- Handlebars -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js"></script> {{!-- Own JS --}}

    <script type="text/javascript" src="javascripts/main.js"></script> {{!--
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script> --}}



</body>

</html>