<!DOCTYPE html>
<html lang="en">

{{> head}}

<body data-title="home">
    {{> header}}

    {{> welcome}}

        <!--Errors panel -->
        <br>
        <div id="errors" class="container w-50">

        </div>
        
        <br>
        <!-- Results panel-->
        <div id="results" class="container">

        </div>


 
    {{> footer}}   
    
     <script type="text/javascript" src="javascripts/main.js"></script>
</body>

</html>