<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{{pageTitle}}</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Finger+Paint|Quando" rel="stylesheet">
    <!-- Font Awesome -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" type="text/css" rel="stylesheet">
    <link href="css/mdb.css" type="text/css" rel="stylesheet">
    <!-- My custom styles -->
    <link href="css/style.css" rel="stylesheet">
    <!-- Card styles -->
    <link href="css/card-styles.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>

</head>

<body>
    {{> header}}

    <!--Section: Display Feed List-->
    <section id="main" class="view m-5 p-5 wow fadeInUp">

        <!-- Heading -->
        <h3 class="mb-5 font-weight-bold text-center">Welcome, what would you like to read today?</h3>

        <ul class="nav md-pills nav-justified pills-secondary">

            <li class="nav-item">
                <button type="button" class="btn btn-elegant fetch-btn" id="BBCSport">BBC Sport</button>
            </li>

            <li class="nav-item">
                <button type="button" class="btn btn-elegant fetch-btn" id="TechCrunch">Tech Crunch</button>
            </li>

            <li class="nav-item">
                <button type="button" class="btn btn-elegant fetch-btn" id="Guardian">The Guardian</button>
            </li>
        </ul>

        <!-- Tab panels -->
        <div>

            <!--Panel 1-->
            <br>

            <div id="results" class="container">


            </div>
            <!--/.Panel 1-->



        </div>


    </section>
    <!-- section-->

    {{> footer}}


</body>

</html>