<!DOCTYPE html>
<html lang="en">

{{> head}}

<body data-title="home">
    {{> header}}

    {{> welcome}}

    <!-- Tab panels -->
    <div>

        <!--Panel 1-->
        <br>

        <div id="results" class="container">


        </div>
        <!--/.Panel 1-->


    </div>

    {{> footer}}   
    
     <script type="text/javascript" src="javascripts/main.js"></script>
</body>

</html>