/* Your custom styles */
html,
body {
    height: 100%;    
}

.navbar {
    background-color: #1c2a48;
}

body {
    /* to prevent navbar from obscuring contents of page */
    padding-top: 65px; 
}



.quote {
  margin-top: 8rem !important;

}


.img-responsive {
    height: 80% !important;
    width: 80% !important;
}

.sticky {
    bottom: 0;
}

.lead {
    line-height: 28.5px;
}

#chartdiv {
    width: 100%;
    height: 400px;
}


#welcome {        
    background-color: #880e4f;
    color: white;
    font-weight: bold;
}

.fetch-btn, .btn-article, .btn-stats {
    background-color: rosybrown; 
}

.navbar-collapse.collapse.in {
    display: block!important;
  }